<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="dashboard_body" id="main">
  <div class="dashboard_heading">
    <ul>
      <li><a href="#">Audit</a></li>
      <li><a href="#">Quality Verification</a></li>
    </ul>
  </div>
  <div class="call_info">
    <div class="row">
      <div class="col-sm-4">
        <div class="col_info_col total_call">
          <div class="col_info_col_content">
            <p>Total Calls</p>
            <h2>{{totalCalls}}</h2>
          </div>
          <div class="col_info_col_icon"><img src="assets/img/col_info_col_icon_1.svg" alt=""></div>
        </div>
      </div>
      <div class="col-sm-4">
        <!-- <div class="col_info_col verification_call cursor" (click)="showToggle(true, 'verification passed')"> -->
        <div class="col_info_col verification_call cursor" (click)="verificationPassed('verification passed')">
          <div class="col_info_col_content">
            <p>Verfication Passed</p>
            <h2>{{performanceReport?.varified_calls}}</h2>
          </div>
          <div class="col_info_col_icon"><img src="assets/img/col_info_col_icon_2.svg" alt=""></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col_info_col failed_call cursor" (click)="showToggle(false, 'verification failed')">
          <div class="col_info_col_content">
            <p>Verfication Failed</p>
            <h2>{{performanceReport?.verification_failed_calls}}</h2>
          </div>
          <div class="col_info_col_icon"><img src="assets/img/col_info_col_icon_3.svg" alt=""></div>
        </div>
      </div>
    </div>
  </div>
  <div class="statistics_dashboard">
    <h2>Calls Statistics</h2>
    <!-- <canvas id="chart-area" class="chartjs-render-monitor"></canvas> -->
    <!-- <div id="chart"></div> -->
    <div>
      <canvas id="pieChart"></canvas>
    </div>
    <div class="pie_chart_info" *ngIf="showMainContent">
      <h3>Verification Passed</h3>
      <ul>
        <li *ngFor="let item of phrase_report">
          <div class="pie_chart_info_col" *ngIf="item.passed > 0" (click)="navigate(item.key)">
            <div class="pie_chart_color_box"></div>
            <p>{{item?.key}}</p>
            <h4>{{item?.passed}}</h4>
          </div>
        </li>
      </ul>
      <div *ngFor="let item of question_report_list btn">
        <ul>
          <div class="my-1 mt-1 label">{{item?.product}}</div>
          <li *ngFor="let sub of item?.subject_analysis" class="hover">
            <div class="pie_chart_info_col" *ngIf="sub.passed > 0" (click)="navigate(item?.product, sub?.subject)">
              <div class="pie_chart_color_box"></div>
              <p>{{sub?.subject}}</p>
              <h4>{{sub?.passed}}</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="pie_chart_info" *ngIf="!showMainContent">
      <h3>Verification Failed</h3>
      <ul>
        <li *ngFor="let item of phrase_report">
          <div class="pie_chart_info_col" *ngIf="item.failed > 0" (click)="navigate(item.key)">
            <div class="pie_chart_color_box"></div>
            <p>{{item?.key}}</p>
            <h4>{{item?.failed}}</h4>
          </div>
        </li>
      </ul>
      <div *ngFor="let item of question_report_list btn">
        <ul>
          <div class="my-1 mt-1 label">{{item?.product}}</div>
          <li *ngFor="let sub of item?.subject_analysis" class="hover">
            <div class="pie_chart_info_col" *ngIf="sub.failed > 0" (click)="navigate(item?.product, sub?.subject)">
              <div class="pie_chart_color_box"></div>
              <p>{{sub?.subject}}</p>
              <h4>{{sub?.failed}}</h4>
            </div>
          </li>
        </ul>
      </div>
    </div> -->

    <div class="callStatics">
      <h4>Verification Failed</h4>
      <div>
        <div *ngFor="let item of productWiseReport">
          <div class="d-flex justify-content-between align-items-center">
            <div class="productName">{{item?.product}}</div>
            <button class="btn" [ngClass]="item?.showScript ? 'btn-danger' : 'btn-success' " (click)="openScript(item)">{{item?.showScript ? 'close' : 'open'}}</button>
          </div>
          <div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">DOB</th>
                  <th scope="col">Email</th>
                  <th scope="col">PAN</th>
                  <!-- <th scope="col"></th> -->
                </tr>
              </thead>
              <tbody>
                <!-- <div > -->
                <tr *ngFor="let items of item?.calls">
                  <td>
                    <div *ngIf="items?.check_point_performance.DateofBirth == true">
                      <img src="../../assets/img/right.png" class="checkIcon" />
                    </div>
                    <div *ngIf="items?.check_point_performance.DateofBirth == false">
                      <img src="../../assets/img/cancels.png" class="cancelsIcon" />
                    </div>
                    <div class="text-warning" *ngIf="items?.check_point_performance.DateofBirth == 'NA'">NA</div>
                    <!-- <div *ngIf="!items?.check_point_performance.DateofBirth">not</div> -->
                  </td>
                  <td>
                    <div *ngIf="items?.check_point_performance.Email == true">
                      <img src="../../assets/img/right.png" class="checkIcon" />
                    </div>
                    <div *ngIf="items?.check_point_performance.Email == false">
                      <img src="../../assets/img/cancels.png" class="cancelsIcon" />
                    </div>
                    <div class="text-warning" *ngIf="items?.check_point_performance.Email == 'NA'">NA</div>
                  </td>
                  <td>
                    <div *ngIf="items?.check_point_performance.PAN == true">
                      <img src="../../assets/img/right.png" class="checkIcon" />
                    </div>
                    <div *ngIf="items?.check_point_performance.PAN == false">
                      <img src="../../assets/img/cancels.png" class="cancelsIcon" />
                    </div>
                    <div class="text-warning" *ngIf="items?.check_point_performance.PAN == 'NA'">NA</div>
                  </td>
                </tr>
                <!-- </div> -->
              </tbody>
            </table>
          </div>

          <!-- sub data table -->

          <div *ngIf="item.showScript"> 
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Agent Name</th>
                  <th scope="col">Customer Name</th>
                  <th scope="col">Introduction</th>
                  <th scope="col">Opening</th>
                  <th scope="col">Closing</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of report">
                  <td>{{item?.agent}}</td>
                  <td>{{item?.customer}}</td>
                  <td>
                    <div *ngIf="item?.check_point_performance.Introdution == true">
                      <img src="../../assets/img/right.png" class="checkIcon" />
                    </div>
                    <div *ngIf="item?.check_point_performance.Introdution == false">
                      <img src="../../assets/img/cancels.png" class="cancelsIcon" />
                    </div>
                    <div class="text-warning" *ngIf="item?.check_point_performance.Introdution == 'NA'">NA</div>
                  </td>
                  <td>
                    <div *ngIf="item?.check_point_performance.closing == true">
                      <img src="../../assets/img/right.png" class="checkIcon" />
                    </div>
                    <div *ngIf="item?.check_point_performance.closing == false">
                      <img src="../../assets/img/cancels.png" class="cancelsIcon" />
                    </div>
                    <div class="text-warning" *ngIf="item?.check_point_performance.closing == 'NA'">NA</div>
                  </td>
                  <td>
                    <div *ngIf="item?.check_point_performance.opening == true">
                      <img src="../../assets/img/right.png" class="checkIcon" />
                    </div>
                    <div *ngIf="item?.check_point_performance.opening == false">
                      <img src="../../assets/img/cancels.png" class="cancelsIcon" />
                    </div>
                    <div class="text-warning" *ngIf="item?.check_point_performance.opening == 'NA'">NA</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- xxxxxxxxxxxxxx -->

        </div>
      </div>
    </div>

  </div>
</div>
