<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="dashboard_body" id="main">
    <div class="dashboard_heading">
      <ul>
        <li><a href="#">Audit</a></li>
        <li><a href="#">Quality Verification</a></li>
      </ul>
    </div>
    <div class="call_info">
      <div class="row">
        <div class="col-sm-4">
          <div class="col_info_col total_call">
            <div class="col_info_col_content">
              <p>Total Calls</p>
              <h2>100</h2>
            </div>
            <div class="col_info_col_icon"><img src="assets/img/col_info_col_icon_1.svg" alt=""></div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col_info_col verification_call">
            <div class="col_info_col_content">
              <p>Total Calls</p>
              <h2>100</h2>
            </div>
            <div class="col_info_col_icon"><img src="assets/img/col_info_col_icon_2.svg" alt=""></div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col_info_col failed_call">
            <div class="col_info_col_content">
              <p>Total Calls</p>
              <h2>100</h2>
            </div>
            <div class="col_info_col_icon"><img src="assets/img/col_info_col_icon_3.svg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="statistics_dashboard">
      <h2>Calls Statistics</h2>
      <canvas id="chart-area" class="chartjs-render-monitor"></canvas>
      <div class="pie_chart_info">
        <h3>Verification Failed</h3>
        <ul>
          <li>
            <div class="pie_chart_info_col">
              <div class="pie_chart_color_box"></div>
              <p>Agent Name </p>
              <h4>30</h4>
            </div>
          </li>
          <li>
            <div class="pie_chart_info_col">
              <div class="pie_chart_color_box"></div>
              <p>Agent Name </p>
              <h4>30</h4>
            </div>
          </li>
          <li>
            <div class="pie_chart_info_col">
              <div class="pie_chart_color_box"></div>
              <p>Agent Name </p>
              <h4>30</h4>
            </div>
          </li>
          <li>
            <div class="pie_chart_info_col">
              <div class="pie_chart_color_box"></div>
              <p>Agent Name </p>
              <h4>30</h4>
            </div>
          </li>
          <li>
            <div class="pie_chart_info_col">
              <div class="pie_chart_color_box"></div>
              <p>Agent Name </p>
              <h4>30</h4>
            </div>
          </li>
          <li>
            <div class="pie_chart_info_col">
              <div class="pie_chart_color_box"></div>
              <p>Agent Name </p>
              <h4>30</h4>
            </div>
          </li>
          <li>
            <div class="pie_chart_info_col">
              <div class="pie_chart_color_box"></div>
              <p>Agent Name </p>
              <h4>30</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>