.cursor{
    cursor: pointer;
}

.cursor:hover{
    opacity: 0.6;
}

.pie_chart_info > ul > li{
    cursor: pointer;
}

.label{
    font-weight: 600;
    font-size: 14px;
    color: #5B5B5B;
}

.hover{
    cursor: pointer;
}

.callStatics{
    margin-top: 4rem;
}

.checkIcon{
    width: 25px;
    height: 25px;
}
.cancelsIcon{
    width: 20px;
    height: 20px;
}

.text-warning{
    color: orange;
    font-weight: 600;
}

.productName{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: gray;
}