.cursor{
    cursor: pointer;
}

.cursor:hover{
    opacity: 0.6;
}

.pie_chart_info > ul > li{
    cursor: pointer;
}

.label{
    font-weight: 600;
    font-size: 14px;
    color: #5B5B5B;
}

.hover{
    cursor: pointer;
}

.callStatics{
    margin-top: 4rem;
}



.productName{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: gray;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 20px;
    cursor: pointer;
}

.productName:hover{
    opacity: 0.8;
    background-color: gray;
    color: #fff;
}

.active{
    opacity: 0.8;
    background-color: gray;
    color: #fff;
}

.productName:first-child{
    margin-left: 0px;
}