<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="dashboard_body" id="main">
  <div class="dashboard_heading">
    <ul>
      <li><a href="#" [routerLink]="['/call-statistics']" routerLinkActive="router-link-active" >Audit Report</a></li>
      <li><a href="#">{{verificationType}} ({{category}})</a></li>
    </ul>
  </div>
  <div class="customer_table">
    <h2 class="customer_table_heading"><span><img src="assets/img/customer_call_icon.png" alt=""></span> Calls</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" data-label="Id">ID</th>
          <th scope="col" data-label="Customer">Customer</th>
          <th scope="col" data-label="Agent">Agent</th>
          <th scope="col" data-label="Service">Product/Service<br> category</th>
          <th scope="col" data-label="Feedback">Feedback</th>
          <th scope="col" data-label="Opportunity">Opportunity</th>
          <th scope="col" data-label="Customer Intent">Customer Intent</th>
          <th scope="col" data-label="call_btn"></th>
        </tr>
      </thead>
      <tbody>
       <!-- <div *ngIf="allData.length < 1>">
         No Data Found
       </div> -->
        <div *ngFor="let item of allData, let i = index">
          <tr *ngIf="allData.length">
            <td data-label="Id">{{i + 1}}</td>
            <td data-label="Customer">{{item?.customer}}</td>
            <td data-label="Agent">{{item?.agent}}</td>
            <td data-label="Service">{{item?.product}}</td>
            <td data-label="Feedback">No</td>
            <td data-label="Opportunity">No</td>
            <td data-label="Customer Intent"><p class="negative">{{item?.intent?.positive | number:'0.1-2'}}</p></td>
            <td data-label=""><a href="http://152.67.25.252:8017/agent-dashboard/?cid=6f11e776-a78f-4c39-b391-473b566063ae&callid={{item?.id}}" target="_blank">Call Insights</a></td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
</div>
