<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="dashboard_body" id="main">
    <div class="dashboard_heading">
      <ul>
        <li><a href="#">Audit</a></li>
        <li><a href="#">Verification Failed  (Agent Name)</a></li>
      </ul>
    </div>
    <div class="customer_table">
      <h2 class="customer_table_heading"><span><img src="assets/img/customer_call_icon.png" alt=""></span> Calls</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" data-label="Id">ID</th>
            <th scope="col" data-label="Customer">Customer</th>
            <th scope="col" data-label="Agent">Agent</th>
            <th scope="col" data-label="Service">Product/Service<br> category</th>
            <th scope="col" data-label="Feedback">Feedback</th>
            <th scope="col" data-label="Opportunity">Opportunity</th>
            <th scope="col" data-label="Customer Intent">Customer Intent</th>
            <th scope="col" data-label="call_btn"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Id">2</td>
            <td data-label="Customer">John Doe</td>
            <td data-label="Agent">Jack D</td>
            <td data-label="Service">Card</td>
            <td data-label="Feedback">Yes</td>
            <td data-label="Opportunity">Yes</td>
            <td data-label="Customer Intent"><p class="positive">Positive</p></td>
            <td data-label=""><a href="#">Call Insights</a></td>
          </tr>
          <tr>
            <td data-label="Id">3</td>
            <td data-label="Customer">Brian Greene</td>
            <td data-label="Agent">Emma W</td>
            <td data-label="Service">Card</td>
            <td data-label="Feedback">No</td>
            <td data-label="Opportunity">No</td>
            <td data-label="Customer Intent"><p class="negative">Negative</p></td>
            <td data-label=""><a href="#">Call Insights</a></td>
          </tr>
          <tr>
            <td data-label="Id">2</td>
            <td data-label="Customer">John Doe</td>
            <td data-label="Agent">Jack D</td>
            <td data-label="Service">Card</td>
            <td data-label="Feedback">Yes</td>
            <td data-label="Opportunity">Yes</td>
            <td data-label="Customer Intent"><p class="positive">Positive</p></td>
            <td data-label=""><a href="#">Call Insights</a></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>