html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #F3F3F5 !important;
    padding-bottom: 30px;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #333 !important;
}

p {
    padding: 0px;
    margin: 0px;
    color: #535353;
    font-size: 16px;
}

a {
    padding: 0px;
    margin: 0px;
    outline: none;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul li {
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:active {
    outline: none;
    text-decoration: none;
}

button:focus {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
    clear: both;
    line-height: 0;
    font-size: 0;
}

.container {
    width: 100%;
    max-width: 1295px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header {
    width: 100%;
    display: inline-block;
    padding: 7px 28px;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
    z-index: 99;
}

/* #nav_sidebar {
    width: 58px;
    height: 100vh;
    background-color: #fff;
    padding-top: 81px;
    position: fixed;
    float: left;
    top: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
    left: 0;
} */

.dashboard_body {
    width: calc(100% - 58px);
    float: right;
    padding-left: 44px;
    padding-right: 15px;
    margin-top: 51px;
}

.flex-container{
    display: flex;
    padding-bottom: 10px;
}

/* body.navopen .dashboard_body {
    width: calc(100% - 240px);
}

body.navopen #nav_sidebar {
    width: 240px;
}

#nav_sidebar ul {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#nav_sidebar ul li {
    position: relative;
    width: 100%;
    height: 57px;
    float: left;
    display: inline-block;
}

#nav_sidebar ul li a {
    line-height: 57px;
    padding: 0 15px;
    background-color: #fff;
    position: relative;
    width: 100%;
    display: inline-block;
    z-index: 9;
    height: 57px;
    font-size: 0;
    color: #000000;
    font-weight: 500;
}

body.navopen #nav_sidebar ul li a {
    font-size: 17px;
}

body.navopen #nav_sidebar ul li.active a:after {
    width: 107%;
    height: 100%;
    position: absolute;
    background-color: #72B3FF;
    border-radius: 0 18px 18px 0;
    top: 0;
    left: 0;
    content: "";
    z-index: -9;
    display: block;
}

#nav_sidebar ul li.active a {
    background-color: #C4DDFB;
}

#nav_sidebar ul li.active a:after {
    display: none;
}

body.navopen #nav_sidebar ul li a:hover:after {
    width: 107%;
    height: 100%;
    position: absolute;
    background-color: #C4DDFB;
    border-radius: 0 18px 18px 0;
    top: 0;
    left: 0;
    content: "";
    z-index: -9;
}

body.navopen #nav_sidebar ul li.active a:hover:after {
    background-color: #5f98da;
}

#nav_sidebar ul li.active a {
    color: #fff;
}

body.navopen #nav_sidebar ul li a span img {
    display: none;
    margin-right: 15px;
}

body.navopen #nav_sidebar ul li a img {
    margin-right: 15px;
}

body.navopen #nav_sidebar ul li.active a img {
    display: none;
}

body.navopen #nav_sidebar ul li.active a span img {
    display: inline-block;
    float: left;
}

#nav_sidebar ul li.active a span {
    float: left;
    position: relative;
    top: 17px;
} */

/*Nav sidebar styles: MS*/
.sidebar {
    height: 100%;
    width: 58px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 60px;
    white-space: nowrap;
  }
  
  .sidebar ul {
      width: 100%;
      display: inline-block;
      padding: 0;
      margin: 0;
      list-style-type: none;
  }
  
  .sidebar ul li {
      position: relative;
      width: 100%;
      height: 57px;
      float: left;
      display: inline-block;
  }
  
  .sidebar ul li a {
      line-height: 57px;
      padding: 0 15px;
      /* background-color: #fff; */
      position: relative;
      width: 100%;
      display: block;
      z-index: 9;
      height: 57px;
      font-size: 0;
      color: #000000;
      font-weight: normal;
      text-decoration: none;
  }

  .sidebar ul li a span{
    vertical-align: middle;
      color: #000000;
      font-size: 18px;
  }
  
  .sidebar ul li a img {
    padding-bottom: 3px;
    margin-right: 30px;
  }
  
  .sidebar ul li.active a {
      background-color: #C4DDFB;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidebar ul li a:hover {
    color: #fff;
    background-color: #5f98da;
  }
  
  #main .sidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* .material-icons,
  .icon-text {
    vertical-align: middle;
  }
  
  .material-icons {
    padding-bottom: 3px;
    margin-right: 30px;
  } */
  
  #main {
    padding: 16px;
    margin-left: 58px;
    transition: margin-left 0.5s;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar ul li a {
      font-size: 18px;
    }
  }

.dashboard_heading {
    width: 100%;
    display: inline-block;
    padding: 14px 30px;
    background-color: #fff;
    margin-top: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
}

.dashboard_heading ul {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.dashboard_heading ul li {
    float: left;
    position: relative;
    padding-right: 18px;
    margin-right: 10px;
}

.dashboard_heading ul li:after {
    position: absolute;
    content: "";
    width: 8px;
    height: 10px;
    background: url(../img/breedcum_arrow.svg) 0 0 no-repeat;
    top: 6px;
    right: 0;
}

.dashboard_heading ul li:last-child:after {
    display: none;
}

.dashboard_heading ul li:last-child {
    padding-right: 0;
    margin-right: 0;
}

.dashboard_heading ul li a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #616161;
}

.dashboard_heading ul li:last-child a {
    color: #434242;
    font-weight: 500;
}

.customer_table {
    width: 100%;
    display: inline-block;
    padding: 14px 0;
    background-color: #fff;
    margin-top: 12px;
    min-height: 560px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
}

h2.customer_table_heading {
    width: 100%;
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    color: #646464;
    margin-bottom: 50px;
    padding: 0 20px;
}

.customer_table table {
    margin-bottom: 0;
}

.customer_table table,
.customer_table table thead,
.customer_table table thead tr,
.customer_table table tbody,
.customer_table table tbody tr {
    width: 100%;
    display: inline-block;
}

.customer_table table thead tr th:first-child,
.customer_table table tbody tr td:first-child {
    width: 6%;
    float: left;
}

.customer_table table thead tr th:nth-child(2),
.customer_table table tbody tr td:nth-child(2) {
    width: 14%;
    float: left;
}

.customer_table table thead tr th:nth-child(3),
.customer_table table tbody tr td:nth-child(3) {
    width: 12%;
    float: left;
}

.customer_table table thead tr th:nth-child(4),
.customer_table table tbody tr td:nth-child(4) {
    width: 17%;
    float: left;
}

.customer_table table thead tr th:nth-child(5),
.customer_table table tbody tr td:nth-child(5) {
    width: 11%;
    float: left;
}

.customer_table table thead tr th:nth-child(6),
.customer_table table tbody tr td:nth-child(6) {
    width: 13%;
    float: left;
}

.customer_table table thead tr th:nth-child(7),
.customer_table table tbody tr td:nth-child(7) {
    width: 13%;
    float: left;
}

.customer_table table thead tr th:last-child,
.customer_table table tbody tr td:last-child {
    width: 14%;
    float: left;
}

.customer_table table thead tr th {
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    min-height: 40px;
    border-bottom: none;
    padding: 0;
    padding-bottom: 10px;
}

.customer_table table tbody tr td {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    min-height: 37px;
    border-top: none;
    padding: 0;
}

.customer_table table tbody tr td a {
    width: 100%;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    transition: all ease-in-out 0.3s;
    border: 1px solid #000;
}

.customer_table table tbody tr td a:hover {
    background-color: #3cb597;
    color: #fff;
    border: 1px solid #3cb597;
}

p.negative {
    color: #B40000;
}

p.positive {
    color: #1AB495;
}

.customer_table table tbody tr {
    padding: 10px 20px;
    background-color: #fff;
}

.customer_table table thead tr {
    padding: 0 20px;
    background-color: #fff;
}

.customer_table table tbody tr:hover {
    background-color: #F9F9F9;
}

.call_info {
    width: 100%;
    display: inline-block;
    margin-top: 14px;
}

.col_info_col {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
    padding: 25px;
}

.col_info_col_content {
    width: calc(100% - 55px);
    float: left;
    padding-right: 15px;
}

.col_info_col_icon {
    width: 55px;
    float: right;
}

.col_info_col_icon img {
    max-width: 100%;
}

.col_info_col_content p {
    font-weight: 500;
    font-size: 15px;
    color: #787878;
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
}

.col_info_col_content h2 {
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    display: inline-block;
}

.total_call .col_info_col_content h2 {
    color: #4478FE;
}

.verification_call .col_info_col_content h2 {
    color: #1AB495;
}

.failed_call .col_info_col_content h2 {
    color: #FF9188;
}

.statistics_dashboard {
    width: 100%;
    display: inline-block;
    padding: 14px 25px;
    background-color: #fff;
    border-radius: 2px;
    margin-top: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
}

.statistics_dashboard h2 {
    font-weight: 500;
    font-size: 21px;
    color: #212121;
    width: 100%;
    margin-bottom: 30px;
    display: inline-block;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#chart-area {
    display: block;
    width: 297px;
    height: 297px;
}

.chartjs-render-monitor {
    width: 500px !important;
    height: 246px !important;
    display: table !important;
    margin: 0 auto;
}

.pie_chart_info {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
}

.pie_chart_info h3 {
    font-weight: 600;
    font-size: 16px;
    color: #5B5B5B;
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;
}

.pie_chart_info ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    display: inline-block;
}

.pie_chart_info ul li {
    width: 25%;
    float: left;
    padding-right: 14px;
}

.pie_chart_info_col {
    width: 100%;
    display: inline-block;
    padding: 12px 14px 20px;
    background-color: #F3F3F5;
    border-radius: 3px;
}

.pie_chart_color_box {
    width: 24px;
    height: 25px;
    float: left;
    border-radius: 5px;
}

.pie_chart_info ul li:first-child .pie_chart_color_box {
    background-color: #4478FE;
}

.pie_chart_info ul li:nth-child(2) .pie_chart_color_box {
    background-color: #FF9088;
}

.pie_chart_info ul li:nth-child(3) .pie_chart_color_box {
    background-color: #1AB495;
}

.pie_chart_info ul li:nth-child(4) .pie_chart_color_box {
    background-color: #72B3FF;
}

.pie_chart_info ul li:nth-child(5) .pie_chart_color_box {
    background-color: #FFE483;
}

.pie_chart_info ul li:nth-child(6) .pie_chart_color_box {
    background-color: #F583FF;
}

.pie_chart_info ul li:last-child .pie_chart_color_box {
    background-color: #8A8A8A;
}

.pie_chart_info ul li:first-child h4 {
    color: #4478FE;
}

.pie_chart_info ul li:nth-child(2) h4 {
    color: #FF9088;
}

.pie_chart_info ul li:nth-child(3) h4 {
    color: #1AB495;
}

.pie_chart_info ul li:nth-child(4) h4 {
    color: #72B3FF;
}

.pie_chart_info ul li:nth-child(5) h4 {
    color: #FFE483;
}

.pie_chart_info ul li:nth-child(6) h4 {
    color: #F583FF;
}

.pie_chart_info ul li:last-child h4 {
    color: #8A8A8A;
}

.pie_chart_info ul li:nth-child(4) {
    padding-right: 0;
}

.pie_chart_info_col p {
    width: calc(100% - 24px);
    float: left;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 300;
    color: #5B5B5B;
    margin-bottom: 5px;
}

.pie_chart_info_col h4 {
    width: 100%;
    float: left;
    padding-left: 34px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
}

@media (max-width: 1199px) {
    body.navopen #nav_sidebar {
        width: 180px;
    }

    body.navopen .dashboard_body {
        width: calc(100% - 180px);
    }

    body.navopen #nav_sidebar ul li a {
        font-size: 14px;
    }

    .dashboard_heading ul li a {
        font-size: 15px;
        line-height: 17px;
    }

    h2.customer_table_heading {
        font-size: 20px;
    }

}

@media (max-width: 992px) {
    .logo {
        padding-left: 30px;
    }

    .mobile_toggle {
        background: url(../img/mobile_menu_icon.svg) 0 0 no-repeat;
        height: 19px;
        background-position: right 0px;
        z-index: 999;
        margin-top: 0;
        width: 30px;
        position: absolute;
        left: 15px;
        top: 15px;
        cursor: pointer;
    }

    #nav_sidebar {
        display: none;
    }

    #nav_sidebar.mobile_nav_open {
        display: block;
        position: fixed;
        top: 51px;
        left: 0;
        width: 250px;
        z-index: 99;
        padding-top: 20px;
    }

    .dashboard_body {
        width: 100%;
        padding-left: 15px;
        margin-top: 51px;
    }

    #nav_sidebar ul li.active a span {
        display: none;
    }

    #nav_sidebar ul li.active a span img {
        display: none;
    }

    #nav_sidebar ul li a {
        font-size: 14px;
        color: #000;
    }

    #nav_sidebar ul li.active a {
        color: #000;
    }

    #nav_sidebar ul li a span {
        display: none;
    }

    #nav_sidebar ul li a img {
        margin-right: 15px;
    }

    .customer_table table tbody tr td:first-child {
        background-color: #72B3FF;
        padding: 6px 15px;
        width: unset;
        border-radius: 3px;
        color: #fff;
        font-weight: 500;
        min-height: unset;
        margin-bottom: 10px;
    }

    .customer_table table tbody tr td:nth-child(2) {
        width: 100%;
        min-height: unset;
        margin-bottom: 10px;
    }

    .customer_table table tbody tr td:nth-child(3) {
        width: 100%;
        min-height: unset;
        margin-bottom: 10px;
    }

    .customer_table table tbody tr td:nth-child(4) {
        width: 100%;
        min-height: unset;
        margin-bottom: 10px;
    }

    .customer_table table tbody tr td:nth-child(5) {
        width: 100%;
        min-height: unset;
        margin: 5px 0;
        margin-bottom: 10px;
    }

    .customer_table table tbody tr td:nth-child(6) {
        width: 100%;
        min-height: unset;
        margin: 5px 0;
        margin-bottom: 10px;
    }

    .customer_table table tbody tr td:nth-child(7) {
        width: 100%;
        min-height: unset;
        margin: 5px 0;
    }

    .customer_table table tbody tr td:last-child {
        width: 100%;
        min-height: unset;
        margin-top: 15px;
    }

    .customer_table table tbody tr td a {
        width: unset;
        padding: 0 30px;
    }

    .customer_table table tbody tr {
        margin-bottom: 25px;
    }

    .customer_table table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .customer_table table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        margin-right: 15px;
        text-transform: uppercase;
    }

    body.navopen .dashboard_body {
        width: 100%;
    }

    body.navopen #nav_sidebar {
        width: 250px;
    }

    body.navopen #nav_sidebar ul li.active a img {
        display: inline-block;
    }

    .customer_table {
        min-height: unset;
    }

    .statistics_dashboard h2 {
        font-size: 19px;
    }

    body.navopen #nav_sidebar ul li.active a:after {
        width: 100%;
        border-radius: 0;
    }

    body.navopen #nav_sidebar ul li a:hover:after {
        width: 100%;
        border-radius: 0;
    }

}


@media (max-width: 767px) {
    .col_info_col {
        margin-bottom: 10px;
    }

    .pie_chart_info ul li {
        width: 50%;
        margin-bottom: 10px;
    }

    .pie_chart_info ul li:last-child {
        margin-bottom: 0;
    }

    .pie_chart_info ul li:nth-child(4) {
        padding-right: 14px;
    }

}

@media (max-width: 599px) {

    .customer_table table tbody tr {
        padding: 10px 15px;
    }

    .dashboard_heading {
        padding: 14px 12px;
    }

    .dashboard_heading ul li a {
        font-size: 14px;
        line-height: 15px;
    }

    h2.customer_table_heading {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .dashboard_heading ul li:after {
        top: 3px;
    }

    .chartjs-render-monitor {
        width: 100% !important;
        height: auto !important;
    }

    .col_info_col_icon {
        width: 36px;
        margin-top: 13px;
    }

    .col_info_col_content {
        width: calc(100% - 36px);
    }

    .col_info_col {
        padding: 16px;
    }

    .col_info_col_content h2 {
        font-size: 24px;
    }

    .col_info_col_content p {
        font-size: 14px;
    }

    .statistics_dashboard h2 {
        font-size: 16px;
    }

    .pie_chart_info ul li {
        width: 100%;
        margin-bottom: 7px;
    }

    .statistics_dashboard {
        padding: 14px;
    }

    .pie_chart_color_box {
        width: 20px;
        height: 20px;
    }

    .pie_chart_info_col {
        padding: 12px 14px;
    }

    .pie_chart_info_col h4 {
        padding-left: 31px;
        font-size: 22px;
        margin-top: 0;
    }

    .pie_chart_info h3 {
        font-size: 15px;
        margin-top: 10px;
    }

}


/* home page css */

.telecalling {
    width: 100%;
    display: inline-block;
    padding: 14px 25px;
    background-color: #fff;
    margin-top: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
}

.telecalling_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}


.telecalling_heading {
    font-size: 25px;
    font-weight: 500;
    color: #212121;
}

.telecalling_description {
    font-size: 14px;
    color: #787878;
}


.criteria_container {
    border: 1px solid #F3F3F5;
    margin-top: 20px;
    border-radius: 3px 3px 0px 0px;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0px;
    /* padding-top: 5px; */
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #4478FE;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.criteria_heading_content {
    background: #F3F3F5;
    border-radius: 3px 3px 0px 0px;
    padding: 10px 25px;
    display: flex;
}

.criteria_list {
    padding: 15px 25px;
}

.criteria_list_heading {
    font-size: 14px;
}

.criteria_tags {
    display: flex;
    align-items: center;
}

.criteria_tags_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    background: #4478FE;
    border-radius: 3px;
    padding: 8px 14px;
    font-size: 14px;
    color: #fff;
    margin: 14px 0px;
}

.criteria_tags_details_text {
    padding-right: 40px;
    width: 100%;
}

.criteria_tags_details_icon {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.delete-btn {
    border: 2px solid #FF9188;
    box-sizing: border-box;
    transform: matrix(1, 0, 0, -1, 0, 0);
    padding: 6px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-icon {
    width: 12px;
    height: 12px;
}

.add-criteria {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.add-criteria-text {
    margin-right: 10px;
}

.add-criteria-input {
    width: 45%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-criteria-btn {
    box-sizing: border-box;
    transform: matrix(1, 0, 0, -1, 0, 0);
    padding: 6px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: #4478FE;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-criteria-icon {
    width: 14px;
    height: 14px;
}

.save-btn {
    background: #1AB495;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    width: 100px;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
}

.save-btn-img {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

/* sidebar container */

.sidebar-container {
    width: 302px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
    margin-right: 30px;
    margin-top: 12px;
    position: relative;
    z-index: 0;
}

.sidebar-menu-items {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    position: relative;
}



/* .sidebar-menu-items::after */

.sidebar-menu-items-number {
    margin-right: 12px;
    z-index: 9;
}

.sidebar-menu-items-name {
    margin-right: auto;
    z-index: 9;
}

.sidebar-menu-items-box-icon {
    margin-right: 12px;
    width: 12px;
    width: 12px;
    z-index: 9;
}

.sidebar-menu-items-box-next {
    width: 12px;
    width: 12px;
    z-index: 9;
}

.activeColor{
    color: #fff;
}