<div id="nav_sidebar" class="sidebar" (mouseover)="toggleSidebar()" (mouseout)="toggleSidebar()">
    <ul>
        <li><a routerLink="/home" routerLinkActive="active"><img src="assets/img/home_icon.svg" alt=""><span> Home</span></a></li>
        <li><a routerLink="/call-statistics" routerLinkActive="active"><img src="assets/img/call_icon.svg" alt=""><span> Call Statistics</span></a></li>
        <li><a routerLink="/call-list" routerLinkActive="active"><img src="assets/img/list_icon.svg" alt=""><span> Call lists</span></a></li>
    </ul>
  </div>