.editableData{
    color: #000;
    width: 90%;
}

.edit-btn{
    display: flex;
}

.edit-icon{
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
}

.addCategory{
    background: #FF9188;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 12px;
    white-space: nowrap;
}

.addCategory:hover{
    opacity: 0.8;
}

.labelStyle{
    padding-left: 35px !important;
}

.modal-header{
    background: #FF9188;
    color: #fff;
}

.modal-title{
    margin-left: auto;
    font-weight: 500;
    font-size: 18px;
}

.close{
  border: 1px solid #FF9188;
  color: #FF9188;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.save{
    cursor: pointer;
    background: #FF9188;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.categoryName{
    color: #383636;
    padding-bottom: 10px;
}

.addCategoryName{
    padding: 6px;
    border: 1px solid #ccc;
    outline: none;
    color: #594f4f;
    width: 70%;
}

.deleteQuestion{
    border: 2px solid red;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: red;
}

.deleteQuestion:hover{
    opacity: 0.6;
}

.sprintSelect{

}

.checkList{
    display: flex;
    align-items: center;
}

.checkListItems{
    background: #337ab7;
    color: #fff;
    width: 100%;
    padding: 8px 14px;
    margin-right: 10px;
    border-radius: 5px;
}

.deleteIcon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.addRecommendation{
    background: #72b3ff;
    color: #fff;
    font-size: 14px;
}
.addRecommendation:hover{
    opacity: 0.8;
}

.saveRecommendation{
    background: #20c145;
    color: #fff;
    font-size: 14px;
}

.saveRecommendation:hover{
    opacity: 0.8;
}

.textareaControl{
    height: calc(100vh - 380px);
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.openingDataHeader{
    /* background-color: #fff !important; */
}

.AddRecommendationClose{
    color: #000 !important;
}

.addIconRecommBtn{
    cursor: pointer;
}

.addIconRecomm{
   width: 25px;
   height: 25px;
}

.checkIcon{
    width: 25px;
    height: 25px;
}
.cancelsIcon{
    width: 20px;
    height: 20px;
}

.editProducts{
    background: #ffb000;
    color: #ffff;
    font-size: 14px;
    margin: 0 10px;
}

.saveProducts{
    background: green;
    color: #ffff;
    font-size: 14px;
    margin: 0 10px;
}

.btnProductGroup{
    margin: 20px 0;
    text-align: end;
}


/* css for checkbox */

.checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    font-size: 20px;
    color: var(--color);
  
}
.checkbox:disabled {
  color: var(--disabled);
}
  
  .checkbox__control {
    display: inline-grid;
    width: 1em;
    height: 1em;
    border-radius: 0.25em;
    border: 0.1em solid currentColor;
  
}
.checkbox__control  > svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
  color: #008f21;
}
  
  .checkbox__input {
    display: grid;
    grid-template-areas: "checkbox";
  

  }
  .checkbox__input > * {
    grid-area: checkbox;
  }

  .checkbox > input {
    opacity: 0;
    width: 1em;
    height: 1em;
}
input{
    display: none;
}
input:focus + .checkbox__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}

input:checked + .checkbox__control svg {
  transform: scale(1);
}

input:disabled + .checkbox__control {
  color: var(--disabled);
}

.tabs{
    display: flex;
    border-bottom: 1px solid #72b3ff;
}


.activeTab{
    border: 1px solid #72b3ff;
    color: #fff;
    border-radius: 0px;
    border-bottom: none;
    background-color: #72b3ff;
}

.addCategoryBtn{
    background: #20c145;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 4px;
    margin-left: 20px;
}

.deleteCategoryItem{
    width: 20px;
    height: 20px;
    cursor: pointer;
}